h {
  font-family: Verdana;
}

body {
  color: yellow;
  background: url("https://images3.alphacoders.com/819/81939.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

p {
  font-family: Verdana;
}
