.hobbies {
  font-family: Impact;
  font-size: 20px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

body {
  color: purple;
  background: url("https://www.google.ca/search?q=cool+backgrounds+1980+x&espv=2&rlz=1C1CHFX_enCA517CA517&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjwh8WmrunLAhUKuIMKHQzAD-sQ_AUIBygB&biw=1147&bih=900#imgrc=KJ28DueZvqbMrM%3A") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
