.hobbies {
  font-family: Impact;
  font-size: 20px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

body {
  color: purple;
  background: url("https://www.google.ca/search?espv=2&rlz=1C1CHFX_enCA517CA517&biw=1147&bih=900&tbm=isch&q=cool+backgrounds+for+tumblr&revid=883439185&sa=X&ved=0ahUKEwiu8YLcsOnLAhXmnYMKHfRpBQ0Q1QIIGw#imgrc=wjAartAaZspvTM%3A") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
